
@{
    ViewBag.Title = "OrderStatusUpdate";
    Layout = "~/Views/Shared/Back_Layout.cshtml";
    string orderNo = String.Format("{0:000000}",ViewBag.model.OrderNo);
    string meisaiNo = String.Format("{0:000}", ViewBag.model.MeisaiNo);
    string itemNo = String.Format("{0:0000}", ViewBag.model.ItemNo);
    DateTime dt = ViewBag.model.DeliveryDate;
    string datetime = dt.ToString("yyyy/MM/dd");
}

<style>
    h2 {
        text-align: center
    }

    p {
        text-align: center
    }

    table {
        margin: 0 auto
    }
</style>

<h2>受注ステータス変更</h2>
<p>受注ステータスを変更してください。</p>
@if(ViewBag.stockerror == 1)
{
    <p style="color:red">在庫数量が不足しています。</p>
}

<form action="OrderStatusChange">
    <table border="1">
        <tr>
            <th>注文番号-明細</th>
            <td>@orderNo-@meisaiNo</td>
        </tr>
        <tr>
            <th>商品番号</th>
            <td>@itemNo </td>
        </tr>
        <tr>
            <th>商品名</th>
            <td>@ViewBag.model.Product.ItemName</td>
        </tr>
        <tr>
            <th>数量</th>
            <td>@ViewBag.model.Quantity</td>
        </tr>
        <tr>
            <th>希望納期</th>
            <td>@datetime</td>
        </tr>
        <tr>
            <th>ステータス</th>
            <td>
                <select name="status">
                    <option value="1">未出荷</option>
                    <option value="2">出荷済</option>
                    <option value="3">キャンセル</option>
                    <option value="4">入荷待ち</option>
                </select>
            </td>
        </tr>
    </table><br />
    <input type="hidden" name="detailNo" value="@ViewBag.model.DetailNo">
    <input type="hidden" name="itemNo" value="@ViewBag.model.ItemNo">
    <input type="hidden" name="quantity" value="@ViewBag.model.Quantity">
    <input type="hidden" name="oldstatus" value="@ViewBag.model.Status">
        <p><input type="submit" value="変更">　<input type="button" value="検索結果に戻る" onclick="history.back()"></p>
</form>
