@model OrderingManagementSystem.ViewModel.CustomerSignUpViewModel
@{
    Layout = "";

}

<style>
    .field-validation-error {
        font-size: 14px;
        color: red;
    }
</style>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>ウィン堂</title>
    <link rel="stylesheet" type="text/css" href="/Content/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
$(function(){
    history.pushState(null, null, null);
    $(window).on("popstate", function(){
        history.pushState(null, null, null);
    });
});
    </script>
</head>
<body>
    <table border="1" class="kousei">
        <thead><tr><th class="header" width="200"></th><th class="header" id="title" colspan="2">ウィン堂</th><th class="header" id="subtitle">商品発注システム</th></tr></thead>
    </table>
    <div align="center">
        顧客IDとパスワードを入力してください。<br />
        @if (ViewBag.IsAuth == false)
        {
            <p>入力された顧客IDまたはパスワードが誤っています</p>
        }
        @Html.ValidationMessageFor(model => model.CustomerId)<br />
        @Html.ValidationMessageFor(model => model.Password)
        @using (Html.BeginForm("CustomerMainMenu", "CustomerLogin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>顧客ID</td>
                    <td>@Html.TextBoxFor(model => model.CustomerId)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>パスワード</td>
                    <td>@Html.PasswordFor(model => model.Password)</td>
                    <td></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="ログイン"> <input type="reset" value="クリア" />
            <br />
            <br />
        }
        <br />
        初めてシステムをご利用になる方は
        <br>まず
        @Html.ActionLink("システム利用登録", "CustomerSignUp", "CustomerAdd")をしていただく必要があります。
    </div>
</body>
</html>
