
@model List<List<OrderingManagementSystem.ViewModel.OrderStatusViewModel>>

@{
    Layout = "~/Views/Shared/Front_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderList</title>
</head>
<body>
    <h1>ご注文ステータス確認</h1>
    <div>現在ご注文いただいている商品のステータスは以下のとおりです。</div>
    <div>発送済み商品のないご注文については、キャンセルが可能です。</div><br />

    @for (int i = 0; i < Model.Count; i++)
    {

        int flag = 0;
        for (int k = 0; k < Model[i].Count(); k++)
        {
            if (Model[i][k].Status == 2 || Model[i][k].Status == 3)
            {
                flag = 1;
                break;
            }
        }


        <p>ご注文番号：<strong style="color:blue">@Html.DisplayFor(model => model[i].First().OrderNo)</strong>
            @if (flag == 0)
            {
                <input type="button" value="この注文をキャンセルする" onclick="window.location='@Url.Action("OrderCancelConfirm", "OrderStatus",
                                                                                       new { odNo = Model[i].First().OrderNo}, null)'" />
            }
        </p>


        <table border="1">
            <tr><th>商品番号</th><th>商品名</th><th>数量</th><th>希望納期</th><th>ステータス</th></tr>
            @for (int j = 0; j < Model[i].Count(); j++)
            {
                <tr>
                    <td>@Html.DisplayFor(m => m[i][j].ItemNo)</td>
                    <td>@Html.DisplayFor(m => m[i][j].ItemName)</td>
                    <td align="right">@Html.DisplayFor(m => m[i][j].Quantity)</td>
                    <td>@Html.DisplayFor(m => m[i][j].DeliveryDate)</td>
                    <td align="center">@Html.DisplayFor(m => m[i][j].StatusDisplay)</td>
                </tr>
            }
        </table>
        <br />
        <hr>
    }

</body>
</html>
