@model OrderingManagementSystem.ViewModel.ProductAddViewModel

@{
    ViewBag.Title = "ProductAddResult";
}

@{
    Layout = "~/Views/Shared/Front_Layout.cshtml";
}

<div style="text-align:center">
    <h1>商品を買い物かごに追加</h1>
    下記の商品を買い物かごに追加しました。<br>
    続けて商品を選ぶ場合は、左のメニューから「カタログを見る」を選択してください。<br>
    見積内容を確認するには、「見積確認」ボタンを押してください。
</div>
<div style="text-align:center">
    <img src="@ViewBag.Url" wigth="150" height="150" />
</div>
<table border="1" align="center">
    <tr>
        <th><center>商品番号</center></th>
        <th><center>商品名</center></th>
        <th><center>単価</center></th>
        <th><center>数量</center></th>
        <th><center>金額</center></th>
        <th><center>希望納期</center></th>
    </tr>
    <tr>
        <td>@ViewBag.Result.ItemNo</td>
        <td>@ViewBag.ItemN</td>
        <td>&yen;@ViewBag.UnitP-</td>
        <td>@ViewBag.Result.Quantity</td>
        <td>&yen;@ViewBag.Price-</td>
        <td>@ViewBag.Date</td>
    </tr>
</table>
<br>
<div style="text-align: center">
    <a href="/Estimate/ShoppingCart/"><input type="button" value="見積確認"></a>
</div>
