@model OrderingManagementSystem.ViewModel.CustomerSignUpViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>ウィン堂</title>
    <link rel="stylesheet" type="text/css" href="/Content/table.css">
    
</head>
<body>
    <table border="1" class="kousei">
        <thead><tr><th class="header" width="200"></th><th class="header" id="title" colspan="2">ウィン堂</th><th class="header" id="subtitle">商品発注システム</th></tr></thead>
    </table>
    <div align="center">
        システム利用登録を行います。<br>
        下記の情報を入力して、送信ボタンを押してください。</br>
        <br />
        @using (Html.BeginForm("CustomerSignUpComfirmation", "CustomerAdd", FormMethod.Post))
        {
    <table class="touroku">
        <tr><td></td><td><b>会社情報</b></td></tr>
        <tr>
            <td align="center">会社名</td>
            <td>@Html.TextBoxFor(model => model.CompanyName, new { style = "width:200px" })</td>
            <td>@Html.ValidationMessageFor(model => model.CompanyName)</td>
        </tr>
        <tr>
            <td align="center">住所</td>
            <td>@Html.TextBoxFor(model => model.Address, new { style = "width:250px" })</td>
            <td>@Html.ValidationMessageFor(model => model.Address)</td>
        </tr>
        <tr>
            <td align="center">電話番号</td>
            <td>@Html.TextBoxFor(model => model.Telno, new { style = "width:100px" })</td>
            <td>@Html.ValidationMessageFor(model => model.Telno)</td>
        </tr>
        <tr><td></td><td><b>ご担当者様情報</b></td></tr>
        <tr>
            <td align="center">氏名(漢字)</td>
            <td>@Html.TextBoxFor(model => model.CustomerName, new { style = "width:200px" })</td>
            <td>@Html.ValidationMessageFor(model => model.CustomerName)</td>
        </tr>
        <tr>
            <td align="center">氏名(かな)</td>
            <td>@Html.TextBoxFor(model => model.CustomerKana, new { style = "width:200px" })</td>
            <td>@Html.ValidationMessageFor(model => model.CustomerKana)</td>
        </tr>
        <tr>
            <td align="center">部署</td>
            <td>@Html.TextBoxFor(model => model.Dept, new { style = "width:100px" })</td>
            <td></td>
        </tr>
        <tr>
            <td align="center">メールアドレス</td>
            <td>@Html.TextBoxFor(model => model.Email, new { style = "width:300px" })</td>
            <td>@Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
        <tr><td></td><td><b>認証用情報</b></td><td></td></tr>
        <tr>
            <td align="center">パスワード</td>
            <td>@Html.PasswordFor(model => model.Password, new { style = "width:100px" })</td>
            <td>@Html.ValidationMessageFor(model => model.Password)</td>
        </tr>
        <tr>
            <td align="center">パスワード(確認)</td>
            <td>@Html.PasswordFor(model => model.Password_verify, new { style = "width:100px" })</td>
            <td>@Html.ValidationMessageFor(model => model.Password_verify)</td>
        </tr>
    </table>
    <br />
            <input type="submit" value="送信" /> <input type="reset" value="クリア" />
        }
    </div>
</body>
</html>