
<style>
    .field-validation-error {
        font-size: 14px;
        color: red;
    }
</style>


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>ウィン堂</title>
    <link rel="stylesheet" type="text/css" href="/Content/logo.css">
</head>
<body>
    <table border="1" class="kousei">
        <thead>
            <tr class="box5">
                    <th class="header"></th>
                    <th class="header" colspan="2"><h3>ウィン堂</h3><p><y>bookstore</y></p></th>
                    <th class="header" id="subtitle">商品発注システム</th>
            </tr>
        </thead>
        <tbody>
            <tr class="box5">
                <td align="justify" valign="top" width="20%">
                    <br />
                    <p style="font-size:125%">　　　メニュー</p>
                    <hr width="80%" size="2">
                    <ul>
                        <li>@Html.ActionLink("カタログを見る", "ProductCatalog3", "ProductList")</li>
                        <li>@Html.ActionLink("見積確認", "ShoppingCart", "Estimate")</li>
                        <li>@Html.ActionLink("発注済みステータス確認", "OrderList", "OrderStatus")</li>
                        <li>@Html.ActionLink("ログアウト", "Index", "CustomerLogout")</li>
                        <li>@Session["Customer"]</li>
                    </ul>
                </td>
                <td colspan="3" align="center">
                    @RenderBody()
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>