@model OrderingManagementSystem.ViewModel.EmployeeInputViewModel

@{
    Layout = "~/Views/Shared/Back_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeAddInput</title>
</head>
<body>
    <h1>担当者情報メンテナンス</h1>
    <div>担当者情報を新規登録します。</div>
    <div>登録内容を入力して、「送信」ボタンを押してください。</div><br />

    @*@Html.ValidationSummary()*@

    @using (Html.BeginForm("EmployeeAddConfirm", "EmployeeMaster", FormMethod.Post))
    {
        <table border="1">
            <tr>
                <th>@Html.DisplayNameFor(model => model.EmpNo)</th>
                <td>
                    @Html.TextBoxFor(model => model.EmpNo)
                    @Html.ValidationMessageFor(model => model.EmpNo)
                </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.EmpName)</th>
                <td>
                    @Html.TextBoxFor(model => model.EmpName)
                    @Html.ValidationMessageFor(model => model.EmpName)
                </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Password)</th>
                <td>
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Password_verify)</th>
                <td>
                    @Html.PasswordFor(model => model.Password_verify)
                    @Html.ValidationMessageFor(model => model.Password_verify)
                </td>
            </tr>
        </table><br />
        <input type="submit" value="送信" />
        <input type="button" value="戻る" onclick="window.location='@Url.Action("EmployeeList", "EmployeeMaster")'" />
    }
</body>
</html>
